$black75percent: #1b2b4b;

.entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    color: $black75percent;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-bottom: 8px;
    }

    &__initiative {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        margin-right: 8px;
        background: #f6be6d;
        border: 1px solid white;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;

        &.m_player {
            border-color: darkcyan;
        }

        &.m_foe {
            border-color: brown;
        }

        &.m_isDragging {
            cursor: grabbing;
        }
    }

    &__hitpoints {
        margin: 0;
        text-align: right;
        font-size: 10px;
    }

    &__name {
        margin: 0;
    }

    &__leftSide {
        display: flex;
        align-items: center;
    }

    &.m_isDragging {
        background-color: lightgreen;
    }

    &.m_player {
        background-color: #cee1e2;
        border-color: darkcyan;
    }

    &.m_foe {
        background-color: #e5cccb;
        border-color: brown;
    }
}
