.entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed lightgrey;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: white;

    &__initiative {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        margin-right: 8px;
        background: rgba(orange, 0.75);
        text-align: center;
        color: rgba(black, 0.75);
        border-radius: 4px;
        font-size: 12px;
    }

    &__hitpoints {
        margin: 0;
        text-align: right;
    }

    &__name {
        margin: 0;
    }

    &__leftSide {
        display: flex;
        align-items: center;
    }

    &.m_isDragging {
        background-color: lightgreen;

        .entity__initiative {
            cursor: grabbing;
        }
    }

    &.m_player {
        border-color: darkcyan;
    }

    &.m_foe {
        border-color: brown;
    }
}
