.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 8px;

    &__header {
        display: flex;
        align-items: center;

        button {
            padding: 5px 10px;
            background: white;
            border: 1px solid lightgrey;
        }
    }

    &__title {
        padding: 8px;
    }
}
