.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;

    border: 1px solid lightgrey;
    border-radius: 4px;

    &__header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;

        button {
            padding: 5px 10px;
            background: white;
            border: 1px solid lightgrey;
        }
    }

    &__title {
        padding: 8px;
    }
}
