.entityModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(black, 0.25);
        cursor: pointer;
    }

    &__contents {
        border: 1px solid black;
        background-color: white;
        border-radius: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .fieldsWrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        .formWrapper {
            display: flex;
            flex-direction: column;
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 15px;

            input:not([type='radio']) {
                margin-bottom: 20px;
            }

            button {
                margin-top: 20px;
                padding: 0 15px;
                height: 30px;
                color: black;
            }
        }
    }
}
