@import './styles/base';

.appHeader {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    > h1 {
        text-decoration: underline;
        margin-right: 15px;
    }

    > button {
        height: 30px;
    }
}

.formAndTracker {
    display: flex;
}

.draggableWrapper {
    > div {
        margin: 0;
        display: flex;
    }
}

.entityList {
    padding: 8px;
    flex-grow: 1;
    min-height: 200px;

    &.m_isDraggingOver {
        background-color: #e5f2fa;
    }
}
